{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div>
            {{ form_row(registrationForm.nom) }}
        </div>
        <div>
            {{ form_row(registrationForm.prenom) }}
        </div>
        <div>
            {{ form_row(registrationForm.email) }}
        </div>
        <div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">M'inscrire</button>
    {{ form_end(registrationForm) }}

    <div>
        <p> Déja inscrit ? <a href="{{ path('app_login') }}" >Me connecter</a></p>
    </div>
{% endblock %}
